* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f8ff;
    color: #1b1b1b;
}

.navbar {
    width: 100%;
    padding: 15px 40px;
    background-color: #003a75; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .logo img {
    height: 100px;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar .menu li a:hover {
    color: #ffda44; 
}

.hero {
    text-align: center;
    padding: 150px 20px;
    background: linear-gradient(to right, #001e3c, #003a75);
    color: white;
}

.hero h1 {
    font-size: 60px;
    font-family: "Covered By Your Grace", cursive;
}

.hero h2 {
    font-size: 80px;
    font-weight: bold;
    margin-top: -20px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.btn-hero {
    margin-top: 25px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #ffda44;
    color: #003a75;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-hero:hover {
    background-color: #ffe680;
}

.sobre {
    padding: 70px 5%;
    text-align: center;
}

.sobre h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.cards-destaque {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 3px 8px #00000020;
    border: 2px solid #003a75;
}

.card h3 {
    color: #003a75;
    margin-bottom: 10px;
}

.menu-pizzas {
    background-color: #ffffff;
    padding: 70px 5%;
    text-align: center;
}

.menu-pizzas h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.grid-pizzas {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pizza-card {
    width: 260px;
    background: #f0f4ff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px #00000020;
    border: 2px solid #003a75;
}

.pizza-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.pizza-card h3 {
    margin: 15px 0 5px;
}

.pizza-card p {
    padding: 0 10px;
}

.pizza-card span {
    display: block;
    font-size: 20px;
    color: #003a75;
    font-weight: bold;
    margin: 15px 0;
}

.video-section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.video-section iframe {
    width: 90%;
    max-width: 600px;
    height: 350px;
    border-radius: 10px;
    border: none;
}

footer {
    background-color: #003a75;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}
